@charset "utf-8";
/* CSS Document */



/*side_nav*/
#sub_wrap:after { content:'.'; width:0; height:0; text-indent:-9999px; overflow:hidden; }
#sub_wrap #log_bar { width:180px; float:left; padding-right:50px; }

#log_bar h2 { width:180px; height:77px; }

#log_bar ul#sub_menu { width:180px; padding-bottom:50px; }
#log_bar ul#sub_menu li { width:180px; height:40px; border-bottom:1px solid #eee; }
#log_bar ul#sub_menu li a { display:block; width:180px; height:40px; background:url(../img/lnb6.gif) no-repeat left -0px; text-indent:-9999px; overflow:hidden; }
#log_bar ul#sub_menu li#s_menu02 a { background-position:0 -47px; }
#log_bar ul#sub_menu li#s_menu01 a:hover { background-position:-180px 0; }
#log_bar ul#sub_menu li#s_menu02 a:hover { background-position:-180px -47px; }

#log_bar ul#sub_icon { width:180px; height:67px; clear:both; }
#log_bar ul#sub_icon li { float:left; width:60px; height:67px; }

span#sub_info { position:fixed; left:50%; margin-left:512px; margin-top:50px; } 



/*sub_main*/
#sub_wrap #sub_main { width:794px; float:left; }

#sub_main ul#sub_g { width:300px; overflow:hidden; padding:40px 0 30px; }
#sub_main ul#sub_g li { float:left; height:20px; padding:0 10px; background:url(../img/arrow.png) no-repeat left center; margin-left:-5px; }
#sub_main ul#sub_g li a { float:left; line-height:20px; color:#333; }
#sub_main ul#sub_g li#pink a { color:#c30452; }
#sub_main ul#sub_g li a:hover { text-decoration:underline; }
#sub_main ul#sub_g li img { margin:-2px 0 0 -5px; }

h4#sub_title { width:109px; height:39px; padding-bottom:50px; }



/*login*/
#sub_main #login_wrap { width:764px; background-color:#f8f8f8;; border:1px solid #ddd; border-radius:5px; float:left; }
#login_wrap form { border-bottom:1px solid #ddd; }
#login_wrap fieldset#login { width:500px; margin:0 auto; padding:50px 0 50px; }

fieldset#login #log_line { padding-top:5px; float:left; }
fieldset#login #log_line label { display:block; width:115px; height:25px; line-height:25px; float:left; font-size:13px; font-weight:bold; }	
fieldset#login #log_line input { float:left; width:198px; height:25px; border:1px solid #ddd; text-indent:5px; }
fieldset#login #log_line input:focus { outline:none; }

fieldset#login button#log_btn { width:150px; height:55px; margin-top:-25px; float:right; background-color:#c30452; font-size:13px; font-weight:bold; 
	color:#fff; border:none; border-radius:3px; cursor:pointer; }
fieldset#login button#log_btn:focus { outline:none; }

fieldset#login ul#member { clear:both; padding-top:30px; }
fieldset#login ul#member li { height:25px; }
ul#member p.member_list { float:left; display:block; height:22px; line-height:22px; color:#333; }
ul#member a.member_btn { float:right; display:block; width:150px; height:20px; text-align:center; line-height:20px; border:1px solid #ddd; color:#333; font-size:11px; 
	background:url(../img/nextArrow.png) no-repeat right center; background-color:#fff; }

#login_wrap ul#etc { width:700px; margin:30px 0 30px 30px; }
#login_wrap ul#etc li { height:25px; line-height:25px; background:url(../img/bul_pink.gif) no-repeat left center; padding-left:10px;  }
#login_wrap ul#etc li span { color:#c30452; }












