@charset "utf-8";
/* CSS Document */



/*side_nav*/
#sub_wrap:after { content:'.'; width:0; height:0; text-indent:-9999px; overflow:hidden; }
#sub_wrap #sub_bar { width:180px; float:left; padding-right:50px; }

#sub_bar h2 { width:180px; height:77px; }

#sub_bar ul#sub_menu { width:180px; padding-bottom:50px; }
#sub_bar ul#sub_menu > li { width:180px; }
#sub_bar ul#sub_menu li.s_m { height:40px; overflow:hidden; }
#sub_bar ul#sub_menu  > li h3 a { display:block; width:180px; height:40px; background:url(../img/lnb1.gif) no-repeat left 0px; text-indent:-9999px; overflow:hidden; }
#sub_bar ul#sub_menu li#s_menu02 a { background-position:0 -47px; }
#sub_bar ul#sub_menu li#s_menu03 a { background-position:0 -93px; }
#sub_bar ul#sub_menu li#s_menu04 a { background-position:0 -140px; }
#sub_bar ul#sub_menu li#s_menu05 a { background-position:0 -185px; }
#sub_bar ul#sub_menu li#s_menu01 a:hover { background-position:-180px 0; }
#sub_bar ul#sub_menu li#s_menu02 a:hover { background-position:-180px -47px; }
#sub_bar ul#sub_menu li#s_menu03 a:hover { background-position:-180px -93px; }
#sub_bar ul#sub_menu li#s_menu04 a:hover { background-position:-180px -140px; }
#sub_bar ul#sub_menu li#s_menu05 a:hover { background-position:-180px -185px; }

#sub_bar ul#sub_menu ul.under_m { width:180px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin:0 0; } 
#sub_bar ul#sub_menu ul.under_m li { height:30px; line-height:30px; }
#sub_bar ul#sub_menu ul.under_m li a { display:block; font-size:14px; font-weight:bold; color:#777; padding-left:30px; }
#sub_bar ul#sub_menu ul.under_m li a:hover { color:#c30452; background:url(../img/bul_pink.gif) no-repeat 15px 15px; }



#sub_bar ul#sub_icon { width:180px; height:67px; clear:both; }
#sub_bar ul#sub_icon li { float:left; width:60px; height:67px; }

span#sub_info { position:fixed; left:50%; margin-left:512px; margin-top:50px; } 



/*sub_main*/
#sub_wrap #sub_main { width:794px; float:left; }

#sub_main ul#sub_g { width:300px; overflow:hidden; padding:40px 0 30px; }
#sub_main ul#sub_g li { float:left; height:20px; padding:0 10px; background:url(../img/arrow.png) no-repeat left center; margin-left:-5px; }
#sub_main ul#sub_g li a { float:left; line-height:20px; color:#333; }
#sub_main ul#sub_g li#pink a { color:#c30452; }
#sub_main ul#sub_g li a:hover { text-decoration:underline; }
#sub_main ul#sub_g li img { margin:-2px 0 0 -5px; }

h4#sub_title { width:74px; height:40px;  }
p#sub_txt01 { width:354px; height:46px; padding:20px 0 40px; }

#sub_content01 { height:327px; padding-bottom:70px; }
#sub_content01 p#sub_txt02 { float:left; font-size:13px; line-height:1.5; color:#777; }
#sub_content01 p#sub_img { width:314px; height:327px; float:right; padding-right:30px; }

#sub_content02 p#s_img01 { width:60px; height:16px; }
#sub_content02 p#s_img02 { width:540px; height:375px; margin:30px auto 50px; }
#sub_content02 p#s_img03 { width:60px; height:16px; }
#sub_content02 p#s_img04  { width:745px; height:364px; margin:30px auto 0; }


