/* SUB ABOUT MAIN */

#sub_main { width:100%; height:100%; padding-bottom:850px; }

#sub_main #sub_back { position:relative; width:100%; height:1400px; background:url(../img/back_about02.jpg) no-repeat center center; }



#sub_main #sub_img { position:absolute; top:0; left:0; width:100%; height:100%; }
#sub_img span#pre_icon { position:fixed; left:3%; top:5%; margin-left:0px; width:30px; height:30px; z-index:100; }
#sub_img #aSub_moon { position:absolute; left:50%; top:50%; width:714px; height:714px; margin-left:-357px; margin-top:-357px; }



#sub_img #sub_contents { display:; }

#sub_contents #title_box { position:absolute; width:500px; height:220px; left:50%; top:50%; margin-left:-250px; margin-top:-110px; text-align:center; }
#title_box h2#title_01 { margin:66px auto 10px; }
#title_box p#title_02 { margin:0 auto; }

#sub_contents #etc_box { position:absolute; left:50%; top:50%; width:17px; height:475px; margin-left:-8px; margin-top:-237px; }
#etc_box p#sub_03 { display:block; width:17px; height:13px; margin:0 auto; }
#etc_box span { display:block; width:1px; background:url(../img/sub_line01.png) repeat-y; margin:0 auto; }
#etc_box span#line_up { height:100px; margin-top:25px; margin-bottom:175px; }
#etc_box span#line_dw { height:150px; }





/* SUB ABOUT CONTENTS 01 HELLO, PROFILE */

#aSub_wrap01 { display:; position:absolute; left:0; top:0; width:100%; height:100%; }
#aSub_wrap01 #black01 { position:absolute; top:0; left:0; width:100%; height:100%; padding-bottom:850px; display:none; }

#aSub_wrap01 #aSub_contents01 { position:absolute; top:0; left:0; width:100%; height:100%; }
#aSub_contents01 #about_typo { position:absolute; left:50%; top:50%; width:850px; height:276px; margin-left:-425px; margin-top:-138px; display:none; }



#aSub_contents01 #white_box { position:absolute; left:3%; top:100%; width:94%; height:800px; background:#fff; margin-top:-85px; }
#white_box #scroll_box { float:right; margin:30px 30px 0 0; width:25px; height:12px; }
#white_box #scroll_box span { display:block; width:25px; height:6px; }



#white_box #white_contents { position:absolute; left:50%; top:0; width:850px; height:500px; margin-left:-425px; margin-top:150px; }

#white_contents li.contents_t { width:100px; height:15px; }
#white_contents span.top_line { margin-bottom:24px; }



#white_contents ul#hello_box { width:850px; height:115px; margin-bottom:100px; }
ul#hello_box > li { float:left; }
ul#hello_box > li#hello01 { width:200px; }
ul#hello_box > li#hello01 span#hello_line01 { display:block; height:1px; background:url(../img/sub_line02.png) repeat-x; }
ul#hello_box > li#hello01 p#hello_typo { text-align:right; }
ul#hello_box > li#hello02 { float:right; width:500px; margin-left:50px; }
ul#hello_box > li#hello02 span#hello_line02 { display:block; height:1px; background:url(../img/sub_line02.png) repeat-x; }
ul#hello_box > li#hello02 p#hello_intro { font-size:12px; text-align:justify; }




#white_contents ul#profile_box { width:850px; height:285px; }
ul#profile_box > li { float:left; }
ul#profile_box > li span.profile_line { display:block; width:235px; height:1px; background:url(../img/sub_line02.png) repeat-x; }
ul#profile_box > li#profile01 { width:235px; margin-left:250px;}
ul#profile_box > li#profile01 li { width:235px; height:61px; margin-bottom:13px; }
ul#profile_box > li#profile01 li#fav_box { margin-bottom:0px; }

ul#profile_box > li#profile02 { width:215px; height:285px; margin-left:50px; }





/* SUB ABOUT CONTENTS 02 EDUCATION, EXPERIENCE, CERTIFICATE */

#aSub_wrap02 { position:relative; left:0; top:0; width:100%; height:2000px; }

#aSub_wrap02 #aSub_contents02 { position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden; }
#aSub_contents02 #moon_ani { position:absolute; top:15%; right:0; width:758px; height:650px; margin-top:0; margin-right:-200px; }



#aSub_contents02 #grap_wrap { position:absolute; left:50%; top:20%; width:850px; height:700px; margin-left:-425px; }

#grap_wrap .grap_box { width:400px; }
#grap_wrap #edu_box { position:absolute; top:0; }
#grap_wrap #ex_box { position:absolute; top:400px; }
#grap_wrap #cer_box { position:absolute; top:750px; }
#grap_wrap #cer_box #grap_box04 { margin-top:100px; }

#grap_wrap .un_line { display:block; width:400px; height:1px; background:url(../img/sub_line02.png) repeat-x; }

#grap_wrap .grap_box dl { width:400px; height:25px; margin-top:25px; }
#grap_wrap .grap_box dt { float:left; width:90px; height:25px; background:url(../img/about_date01.png) no-repeat top left; line-height:25px; color:#eee; text-indent:20px;}
#grap_wrap .grap_box dd { float:left; }
#grap_wrap .grap_box dd.dot { width:25px; height:25px; text-align:center; margin:0 15px; }
#grap_wrap .grap_box dd.dot img { vertical-align:middle; }
#grap_wrap .grap_box dd.text { line-height:25px; }

#grap_wrap span.grap_line { position:absolute; display:block; width:1px; background:url(../img/sub_line01.png) repeat-y; }
#grap_wrap span#grap_line01 { left:117px; top:54px; height:200px; }
#grap_wrap span#grap_line02 { left:117px; top:70px; height:125px; }
#grap_wrap span#grap_line03 { left:117px; top:54px; height:300px; }
#grap_wrap span#grap_line04 { left:117px; top:430px; height:100px; }

#grap_wrap .grap_box dl#exp_contents { width:400px; height:50px; }
#grap_wrap .grap_box dl#exp_contents dt.date02 { width:90px; height:36px; background:url(../img/about_date02.png) no-repeat top left; line-height:17px; padding:8px 0; text-indent:20px; }
#grap_wrap .grap_box dl#exp_contents dd.dot { width:25px; height:25px; text-align:center; margin-top:15px; }
#grap_wrap .grap_box dl#exp_contents dd.text { line-height:50px; }





/* SUB ABOUT CONTENTS 03 SKILLS */

#aSub_wrap03 #aSub_contents03 { position:relative; left:0; top:0; width:100%; height:1000px; }
#aSub_contents03 { position:absolute; top:0; left:0; width:100%; height:100%; overflow:hidden; }

#aSub_contents03 #skill_wrap { position:absolute; left:50%; top:50%; width:850px; height:678px; margin-left:-425px; margin-top:-350px; }
#skill_wrap h3#sk_title { width:37px; height:13px; }

#skill_wrap #grap_web { position:relative; width:850px; height:321px; margin-top:75px; } 
#grap_web > img { position:absolute; margin-left:265px; }
#grap_web p#web_text { position:absolute; display:block; left:50%; top:50%; width:54px; height:86px; margin-left:-27px; margin-top:-43px; }

#skill_wrap ul#grap_per { width:850px; height:165px; margin-top:50px; }
ul#grap_per li { float:left; margin-right:26px; }
ul#grap_per li#grap06 { margin-right:0; }
ul#grap_per li img { vertical-align:middle; }
ul#grap_per li > p { width:120px; height:20px; text-align:center; margin-top:15px; }





/* SUB ABOUT FOOTER */

#footer { position:relative; left:0; top:0; width:100%; height:100%; }

#footer ul#f_nav { position:absolute; left:50%; top:30%; width:850px; height:150px; margin-left:-425px; }
ul#f_nav li { position:relative; float:left; width:270px; height:150px; }
ul#f_nav li#f_about { display:none; }
ul#f_nav li#f_work { margin:0 20px; }



#footer #f_topBox { width:100%; height:100%; background:#fff; }
#f_topBox #f_box { position:absolute; left:0; bottom:0; width:100%; height:20%; background:#333; }
#f_topBox span#top_line { position:absolute; left:50%; bottom:30%; width:1px; height:100px; background:url(../img/top_line.png) repeat-y; }

#f_topBox p#f_top { position:absolute; left:50%; bottom:20%; width:50px; height:50px; margin-left:-25px; margin-bottom:-25px; }



#footer p#f_copy { position:absolute; left:50%; bottom:3%; width:700px; margin-left:-350px; text-align:center; font-size:11px; color:#aaa; }
