/* SUB WORK MAIN */

#sub_main { width:100%; height:100%; padding-bottom:850px; }

#sub_main #sub_back { position:relative; width:100%; height:1400px; background:url(../img/back_work02.jpg) no-repeat center center; }



#sub_main #wSub_img { position:absolute; top:0; left:0; width:100%; height:100%; }
#sub_img span#pre_icon { position:fixed; left:3%; top:5%; margin-left:0px; width:30px; height:30px; z-index:100; }



#sub_main #sub_contents { display:; }

#sub_contents #title_box { position:absolute; width:500px; height:220px; left:50%; top:50%; margin-left:-250px; margin-top:-110px; text-align:center; }
#title_box h2#title_01 { margin:66px auto 10px; }
#title_box p#title_02 { margin:0 auto; }

#sub_contents #etc_box { position:absolute; left:50%; top:50%; width:17px; height:475px; margin-left:-8px; margin-top:-237px; }
#etc_box p#sub_03 { display:block; width:17px; height:13px; margin:0 auto; }
#etc_box span { display:block; width:1px; background:url(../img/sub_line01.png) repeat-y; margin:0 auto; }
#etc_box span#line_up { height:100px; margin-top:25px; margin-bottom:175px; }
#etc_box span#line_dw { height:150px; }





/* SUB WORK CONTENTS 01 CONCEPT, STORYTELLING */

#wSub_wrap01 { display:; position:absolute; left:0; top:0; width:100%; height:100%; }
#wSub_wrap01 #black01 { position:absolute; top:0; left:0; width:100%; height:100%; padding-bottom:850px; display:none; }

#wSub_wrap01 #wSub_contents01 { position:absolute; top:0; left:0; width:100%; height:100%; }
#wSub_contents01 #work_typo { position:absolute; left:50%; top:50%; width:770px; height:114px; margin-left:-385px; margin-top:-57px; display:none; }



#wSub_contents01 #white_box { position:absolute; left:3%; top:100%; width:94%; height:800px; background:#fff; margin-top:-85px; }
#white_box #scroll_box { float:right; margin:30px 30px 0 0; width:25px; height:12px; }
#white_box #scroll_box span { display:block; width:25px; height:6px; }



#white_box #white_contents { position:absolute; left:50%; top:0; width:850px; height:500px; margin-left:-425px; margin-top:150px; }

#white_contents li.contents_t { width:100px; height:15px; }
#white_contents span.top_line { margin-bottom:24px; }



#white_contents ul#concept_box { width:850px; height:115px; margin-bottom:100px; }
ul#concept_box > li { float:left; }
ul#concept_box > li#concept01 { width:450px; }
ul#concept_box > li#concept01 span#concept_line01 { display:block; height:1px; background:url(../img/sub_line02.png) repeat-x; }
ul#concept_box > li#concept01 p#concept_typo { text-align:right; }



ul#concept_box > li#concept02 { float:right; width:250px; margin-left:50px; }
ul#concept_box > li#concept02 span#concept_line02 { display:block; height:1px; background:url(../img/sub_line02.png) repeat-x; }
ul#concept_box > li#concept02 #concept_text { width:250px; }
ul#concept_box > li#concept02 #concept_text p#text01 { float:left; font-weight:bold; }
ul#concept_box > li#concept02 #concept_text p#text02 { float:right; }



#white_contents ul#story_box { width:850px; height:285px; }
ul#story_box > li { float:left; }

ul#story_box > li#story01 { position:relative; width:359px; height:241px; margin-left:91px; }
ul#story_box > li#story01 ul#st_slide { width:359px; height:241px; margin-left:-359px; }
ul#story_box > li#story01 ul#st_slide li { position:absolute; left:0; top:0; width:359px; height:241px; } 

ul#story_box > li#story01 ul#slide_btn { position:absolute; left:50%; bottom:0; width:77px; height:8px; margin-left:-38px; margin-bottom:10px; }
ul#slide_btn li { float:left; margin-right:15px; }
ul#slide_btn li#btn04 {margin-right:0; }



ul#story_box > li#story02 { width:250px; height:285px; margin-left:50px; }
li#story02 span#story_line { display:block; width:250px; height:1px; background:url(../img/sub_line02.png) repeat-x; }
li#story02 p#story_text { text-align:justify; }





/* SUB WORK CONTENTS 02 LOGO */

#wSub_wrap02 { position:relative; left:0; top:0; width:100%; height:1400px; }
#wSub_wrap02 #wSub_contents02 { position:absolute; top:0; left:0; width:100%; height:100%; }

#wSub_contents02 #logo_wrap { position:absolute; left:50%; top:50%; width:850px; height:565px; margin-left:-425px; margin-top:-282px; }
#logo_wrap ul#logo_contents { width:850px; height:270px; margin-bottom:100px; }

#logo_wrap li.contents_t { width:100px; height:15px; }
#logo_wrap span.top_line { margin-bottom:24px; }

ul#logo_contents > li { float:left; }
ul#logo_contents > li#logo_box01 { width:450px; }
ul#logo_contents > li#logo_box01 span#logo_line01 { display:block; height:1px; background:url(../img/sub_line02.png) repeat-x; }
ul#logo_contents > li#logo_box01 p#logo_typo { text-align:right; }

ul#logo_contents > li#logo_box02 { float:right; width:250px; margin-left:50px; }
ul#logo_contents > li#logo_box02 span#logo_line02 { display:block; height:1px; background:url(../img/sub_line02.png) repeat-x; }
ul#logo_contents > li#logo_box02 #logo_text { width:250px; text-align:justify; }
ul#logo_contents > li#logo_box02 span#logo_means { display:block; width:250px; height:76px; margin:30px 0; }
ul#logo_contents > li#logo_box02 span#logo_line03 { display:block; height:1px; background:url(../img/sub_line02.png) repeat-x; }



#logo_wrap ul#logo_box03 { width:750px; height:177px; margin-left:100px; }
#logo_wrap ul#logo_box03 li { float:left; margin-right:50px; }
#logo_wrap ul#logo_box03 li#logo04 { margin-top:1px; margin-right:0; }





/* SUB WORK FOOTER */

#footer { position:relative; left:0; top:0; width:100%; height:100%; }

#footer ul#f_nav { position:absolute; left:50%; top:30%; width:850px; height:150px; margin-left:-425px; }
ul#f_nav li { position:relative; float:left; width:270px; height:150px; }
ul#f_nav li#f_work { display:none; }
ul#f_nav li#f_port { margin:0 20px; }



#footer #f_topBox { width:100%; height:100%; background:#fff; }
#f_topBox #f_box { position:absolute; left:0; bottom:0; width:100%; height:20%; background:#333; }
#f_topBox span#top_line { position:absolute; left:50%; bottom:30%; width:1px; height:100px; background:url(../img/top_line.png) repeat-y; }

#f_topBox p#f_top { position:absolute; left:50%; bottom:20%; width:50px; height:50px; margin-left:-25px; margin-bottom:-25px; }



#footer p#f_copy { position:absolute; left:50%; bottom:3%; width:700px; margin-left:-350px; text-align:center; font-size:11px; color:#aaa; }
