/*Intro*/

.intro {
	z-index:10000000;
	display:block;
	position:absolute;
	width:100%; height:100%;
	background-color:#fff; 
	opacity:1;
}



.intro_item {
	opacity:0;
}
.main_item {
	opacity:0;
}
.control_item {
	opacity:0;
}





/*Main*/

.intro_title,
.title_wrap h1 {
	z-index:1000000;
	position:absolute;
	top:50%; left:50%;
}



/* 'Didot font -> Image' Area */

.intro_title span,
.title_wrap h1 a {
	display:block;
	font-family:linotype-didot, 'Italiana', serif;
	font-weight:; line-height:1.2;
	white-space:nowrap;
	opacity:0.8;
	/*background-image:url(../img/text_mask.png);
	background-position:50% 50%;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;*/
}



.intro_title span+span {
	margin-top:0%;
}
.title_wrap h1 a a+a {
	margin-top:-3%;
}



.link_title a#link_a {
	width:100%;
	margin-left:-5%;
}
.link_title a#link_w {
	width:100%;
	margin-left:10%;
}
.link_title a.link_mouse { 
	color:#c7b299;
	transition:color 0.5s;
	-webkit-transition:color 0.5s;
	-moz-transition:color 0.5s;
	-o-transition:color 0.5s;
	/*background-image:url(../img/text_mask_02.png);
	transition:background-image 0.5s;
	-webkit-transition:background-image 0.5s;
	-moz-transition:background-image 0.5s;
	-o-transition:background-image 0.5s; */
}



.moon,
.moon_line {
	position:absolute;
	top:50%; left:50%;
}
.moon img, .moon_list img,
.moon_list li img, .moon_line img {
	height:100%;
}

.moon_list li {
	position:absolute;
	opacity:0;
}
.moon_list li.fade_in {
	opacity:1;
	transition:1.5s all;
	-webkit-transition:1.5s all;
	-moz-transition:1.5s all;
	-o-transition:1.5s all;
}



.mean {
	position:absolute;
	bottom:50%; left:50%;
}
.mean ul li {
	font-family:linotype-didot, 'Italiana', serif;
	font-size:15px; font-weight:700;
	letter-spacing:1px; 
	opacity:0.35;
	margin-bottom:15px;
}
.mean ul li.select {
	opacity:0.85;
}
.mean ul li:nth-child(1) {
	text-indent:0;
}
.mean ul li:nth-child(2) {
	text-indent:10px;
}
.mean ul li:nth-child(3) {
	text-indent:20px;
}





/*Data*/

#data {
	z-index:10000000;
	position:absolute;
	bottom:3%; left:50%;
	min-width:300px;
	padding:10px; 
	font-size:17px; font-weight:400;
	text-align:center; white-space:nowrap;
	transform:translateX(-50%); 
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%); 
	cursor:pointer;
}

#api li {
	float:left;
}
#api li+li:before {
	content:' · ';
	margin:0 5px;
}
#api li:last-child {
	font-weight:800;
}
#api li:last-child::before {
	font-weight:400;
}

#data:before, #data:after {
	z-index:1000;
	content:'';
	position:absolute;
	left:0;
	width:100%; height:1px;
	/*background-color:#c7b299;*/ 
	background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(199,178,153,0.52), rgba(255,255,255,0));
	-webkit-background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(199,178,153,0.52), rgba(255,255,255,0));
	-moz-background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(199,178,153,0.52), rgba(255,255,255,0));
	-o-background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(199,178,153,0.52), rgba(255,255,255,0));
}
#data:before {
	top:0;
}
#data:after {
	bottom:0;
}





/*Footer*/

footer {
	bottom:3%; left:3%;
	width:94%;
	font-size:13px; font-weight:400;
}

#scroll {
	cursor:pointer;
	position:absolute;
	bottom:0; left:0;
	width:125px; height:22px; 
	transform:rotate(-90deg); 
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg); 
	transform-origin:0 0; 
	-webkit-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-o-transform-origin:0 0;
}

#scroll b {
	position:absolute;
	top:10px; left:0;
	width:60px; height:1px; 
	background-color:#525d69;
}
#scroll span {
	position:absolute;
	top:0; left:70px;
}

#location {
	position:absolute;
	bottom:0; right:0;
}





/*Controller*/

.controller {
	width:100%; height:100%;
}
.control_title  {
	z-index:1000000;
	position:absolute;
	top:52%; left:50%;
}
.control_title h1 {
	display:block;
	font-family:linotype-didot, 'Italiana', serif;
	font-weight:; line-height:1.2;
	text-align:center; white-space:nowrap; 
	opacity:0.9;
/*	background-image:url(../img/text_mask.png);
	background-position:50% 50%;
	background-repeat:repeat; 
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;*/
}
.control_title span {
	display:block; 
	font-family:linotype-didot, 'Italiana', serif;
	font-weight:; line-height:1.2;
	text-align:center; white-space:nowrap;
	opacity:0.7;
/*	background-image:url(../img/text_mask.png);
	background-position:50% 50%;
	background-repeat:repeat; 
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;*/
	}



.weather {
	z-index:1000000;
	position:absolute;
	top:50%; left:3%;
	/*background-color:red;*/
}
.weather ul li+li {
	margin-top:35px;
}
.weather ul li span {
	display:inline-block;
	width:0; height:1px;
	margin-bottom:5px;
	background-color:#c7b299; 
	transition:all 0.5s; 
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.weather ul li a {
	opacity:0.35;
}

.weather ul li:hover span {
	width:50px;
	margin-right:15px;
}	
.weather ul li:hover a {
	color:#c7b299;
	opacity:1;
}	
.weather ul li.select span {
	width:50px;
	margin-right:15px;
}	
.weather ul li.select a {
	opacity:1;
}		



.time {
	z-index:1000000;
	position:absolute;
	top:50%; right:3%; 
	/*background-color:red;*/
}
.time ul {
	margin-right:25px;
}
.time ul li+li {
	margin-top:35px;
}
.time ul li a {
	/*float:right;*/
	opacity:0.35;
	white-space:nowrap;
}
.time ul li a:hover {
	color:#c7b299;
	opacity:1;
}	
.time ul li.select a {
	opacity:1;
}



#slider {
	position:absolute;
	top:3px; right:0;
	width:1px; height:234px; 
	background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(199,178,153,0.52), rgba(255,255,255,0));
	-webkit-background-image:linear-gradient(to bottom, rgba(255,255,255,0), rgba(199,178,153,0.52), rgba(255,255,255,0));
	-moz-background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(199,178,153,0.52), rgba(255,255,255,0));
	-o-background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(199,178,153,0.52), rgba(255,255,255,0));
}
#slider span {
	position:absolute;
	top:; left:-8px;
	width:17px; height:17px;
	background:url(../img/timespot.png);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}





/*Weather*/

#cloudy, #rain, #snow {
	position:absolute;
	top:0; left:0;
  	width:100%; height:100%;
}



.rain_01, .rain_02,
.snow_01, .snow_02 {
	position:absolute;
	top:-5%; left:0; 
}

#rain {
	display:none;
}
.rain_01 {
	width:23px; height:73px; 
	background-image:url(../img/rain_01.png);
}
.rain_02 {
	width:15px; height:35px; 
	background-image:url(../img/rain_02.png);
}



#snow {
	display:none;
}
.snow_01 {
	width:30px; height:30px; 
	background-image:url(../img/snow_01.png);
}
.snow_02 {
	width:40px; height:40px; 
	background-image:url(../img/snow_02.png);
}



#cloudy {
	z-index:100000;
	display:none;
}
.cloud {
	position:absolute;
	top:50%;
}
.cloud img {
	width:100%;
}
#cloud_01 {
	left:-25%;
	margin-top:-10%;
	opacity:0.3;
}
#cloud_02 {
	right:-35%;
	margin-top:-5%;
	opacity:0.5;
}
#cloud_03 {
	left:15%;
	opacity:0.7;
	margin-top:-15%;
	opacity:0.75;
}





/*AddClass*/

.select, .select a {
	color:#525d69;
	font-weight:600;
}

.transition {
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
}

.half_top { 
	transform:translateY(-50%); 
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%); }

.half_left {
	transform:translateX(-50%); 
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
}