/* first 배경 이미지*/
#first { background:url(../img/bg_01.jpg) no-repeat center center; background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; transition:0.5s all ease-in-out; -webkit-transition:0.5s all ease-in-out; -moz-transition:0.5s all ease-in-out; -o-transition:0.5s all ease-in-out; }





/* first - article#title_wrap */
/* Main 'Title Text' Area 메인 타이틀 영역*/
article#title_wrap { position:absolute; width:90%; top:50%; left:5%; transform:translateY(-45%); -webkit-transform:translateY(-45%); -moz-transform:translateY(-45%); /*border:1px solid red; box-sizing:border-box;*/ }

h2#title { width:50%; transition:0.3s all ease-in-out; -webkit-transition:0.3s all ease-in-out; -moz-transition:0.3s all ease-in-out; -o-transition:0.3s all ease-in-out; }


/* first - article#title_wrap */
/* Main 'Title Text' Area 메인 타이틀 영역*/
#text_box { position:absolute; top:12%; left:65%; opacity:0.95; }
#text span { display:block; font-size:15px; text-indent:3px; color:#fff; margin-bottom:15px; }
#text p a { font-size:40px; font-weight:700; line-height:1; letter-spacing:2px; color:#fff; transition:0.5s all ease-in-out; -webkit-transition:0.5s all ease-in-out; -moz-transition:0.5s all ease-in-out; -o-transition:0.5s all ease-in-out; }
#text p a:hover { letter-spacing:5px; }



/* Image Slide Arrow 화살표*/
#arr { position:absolute; top:185%; left:0%; transition:0.5s all ease-in-out; -webkit-transition:0.5s all ease-in-out; -moz-transition:0.5s all ease-in-out; -o-transition:0.5s all ease-in-out; /*border:1px solid red; box-sizing:border-box;*/ }
#arr ul li { float:left; }
#arr ul li + li { margin-left:15px; }
#arr ul li a { display:block; width:35px; height:35px; background:url(../img/hover.png) no-repeat; text-indent:-9999px; overflow:hidden; opacity:0.85; }
#arr ul li#arr_left a { background-position:-10px -10px; }
#arr ul li#arr_right a { background-position:-55px -10px; }
#arr ul li#arr_left a:hover { background-position:-10px -55px; }
#arr ul li#arr_right a:hover { background-position:-55px -55px; }




/* first - slide_nav */
/* Image Slide Navigation 오른쪽 네비게이션*/
#slide_nav ul { position:absolute; top:50%; right:5%; width:100px; height:200px; transform:translateY(-60%); -webkit-transform:translateY(-60%); -moz-transform:translateY(-60%); }
#slide_nav ul li a { display:block; height:25px; padding-top:24px; /*background-color:blue;*/ transition:0.3s all; -webkit-transition:0.3s all; -moz-transition:0.3s all; -o-transition:0.3s all; }
#slide_nav ul li a:hover { opacity:0.5; }
#slide_nav ul li + li a { margin-top:25px; }
#slide_nav ul li a span { display:block; float:right; width:20px; height:2px; background-color:#fff; transition:0.3s all ease-out; -webkit-transition:0.3s all ease-out; -moz-transition:0.3s all ease-out; -o-transition:0.3s all ease-out; }

#slide_nav ul li a span.slide_w { width:35px; }





/*media query 미디어 쿼리*/
@media screen and (min-width:1350px) and (max-width:1599px) {  
	
}

@media screen and (min-width:1000px) and (max-width:1349px) {  

	#text p a { font-size:35px; }
	#arr { top:150%; }
	
}

@media screen and (min-width:750px) and (max-width:999px) {  
	
	h2#title { width:75%; }

	#text_box { display:none; }
	
}

@media screen and (min-width:650px) and (max-width:749px) {  
	
	h2#title { width:100%; }

	#text_box { display:none; }
	#slide_nav { display:none; }
	
}

@media screen and (max-width:649px) {  

	h2#small { display:block; width:100%; }

	nav, h2#title { display:none; }
	#text_box { display:none; }
	#slide_nav { display:none; }

}



