/*first*/
#first { background:url(../img/bg_033.jpg) no-repeat center center; background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; }





/*first - fix_wrap - header*/
/*Menu Navigation Location*/
ul#nav_menu li:nth-child(3) a { opacity:0.5; }





/*first - article#title_wrap*/
/*Main 'Title Text' Area*/
article#title_wrap { position:absolute; width:90%; top:50%; left:5%; transform:translateY(-45%); -webkit-transform:translateY(-45%); -moz-transform:translateY(-45%); /*border:1px solid red; box-sizing:border-box;*/ }

h2#title { width:50%; transition:0.3s all ease-in-out; -webkit-transition:0.3s all ease-in-out; -moz-transition:0.3s all ease-in-out; -o-transition:0.3s all ease-in-out; }





/*first - article*/
/*Main 'Sub Text' Area*/
#text_box { position:absolute; bottom:27%; left:65%; opacity:0.95; /*border:1px solid orange; box-sizing:border-box;*/ }
#text_box li { font-size:15px; color:#fff; }





/*section#story_wrap*/
/*'Story' Contents Area*/
section#story_wrap { width:100%; color:#333; }
section#story_wrap article { width:70%; max-width:1300px; margin:0 auto; padding:200px 0; }

article h5 { font-size:20px; font-weight:700; letter-spacing:5px; text-align:center; margin-bottom:200px; }
article h3 { font-size:50px; font-weight:700; letter-spacing:5px; line-height:1.2; margin-bottom:50px; }



/*Interview Image*/
article .qa_img { width:100%; height:700px; margin-bottom:50px; clear:both; transition:0.5s all ease-in-out; -webkit-transition:0.5s all ease-in-out; -moz-transition:0.5s all ease-in-out; -o-transition:0.5s all ease-in-out; }
article #qa_img_01 { background:url(../img/story_01.jpg) no-repeat center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; }
article #qa_img_02 { background:url(../img/story_02.jpg) no-repeat center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; transition:0.5s all ease-out 0.1s; -webkit-transition:0.5s all ease-out 0.1s; -moz-transition:0.5s all ease-out 0.1s; -o-transition:0.5s all ease-out 0.1s; }
article #qa_img_03 { background:url(../img/story_03.jpg) no-repeat center center; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; }

article #qa_img_02:hover { background-image:url(../img/story_02_1.jpg); }



/*Interview Text*/
article .qa { padding:100px 0; /*border:1px solid red; box-sizing:border-box;*/ transition:0.3s all ease-in-out; -webkit-transition:0.3s all ease-in-out; -moz-transition:0.3s all ease-in-out; -o-transition:0.3s all ease-in-out; }
.qa h6 { font-size:20px; font-weight:700; line-height:1.2; margin-bottom:25px; }
.qa p { font-size:13px; line-height:1.5; text-align:justify; }
.qa_left { margin-left:5%; }
.qa_right { margin-right:5%; }


#qa_01 { width:50%; }

#qa_02 { width:45%; margin-bottom:25px; float:right; }
#qa_02 h6 { text-align:right; }

#qa_03 { width:65%; }

#qa_04 { width:50%; float:right; }
#qa_04 h6 { text-align:right; }

#qa_05 { width:25%; clear:both; }

span#name { display:block; width:100%; padding-top:100px; text-align:center; }





/*media query*/
@media screen and (min-width:1000px) and (max-width:1349px) {  

	article .qa_img { height:500px; }

	#qa_01, #qa_02, #qa_03, #qa_04 { width:70%; }
	#qa_05 { width:45%; }

}

@media screen and (min-width:750px) and (max-width:999px) {  

	h2#title { width:60%; }
	#text_box { left:75%; } 

	article .qa_img { height:400px; }

	#qa_01, #qa_02, #qa_03, #qa_04, #qa_05 { width:100%; }

	.qa_left { margin-left:0; }
	.qa_right { margin-right:0; }

}

@media screen and (min-width:650px) and (max-width:749px) {  

	h2#title { width:60%; }
	#text_box { left:75%; } 

	article .qa_img { height:300px; }

	article .qa { padding:75px 0; }
	#qa_01, #qa_02, #qa_03, #qa_04, #qa_05  { width:100%; }

	.qa_left { margin-left:0; }
	.qa_right { margin-right:0; }

}

@media screen and (max-width:649px) { 

	/*#first { background-image:none; background-color:#333; }*/
	article#title_wrap { top:20%; }
	h2#small { display:block; width:100%; }

	nav, h2#title { display:none; }
	#text_box { display:none; }
	section, #footer_wrap { display:none; }

}
