
/*Header*/

b#menu_line { 
	left:250px;
}





/*Section*/

.section { 
	position:relative;
	top:0; left:0; 
	width:100%;
	/*background-color:pink;*/
	overflow:hidden;
}

.team { 
	z-index:1000;
	position:relative;
	top:0; left:50%;
	width:64%;
	margin-top:200px; margin-bottom:200px;
	-webkit-transform:translateX(-50%); 
	-ms-transform:translateX(-50%); 
	-moz-transform:translateX(-50%); 
	-o-transform:translateX(-50%); 
	transform:translateX(-50%);
	/*background-color:#fff;*/
}



.text_box {
	width:100%; height:120px;
}

.text_box h1 {
	font-size:52px; 
	font-weight:900; 
	line-height:1.4;
}

.text_box p {
	margin-top:20px;
}



.role_box {
	width:100%; height:190px;
	margin-top:80px; margin-bottom:250px;
}

.role_box ul {
	width:900px;
}

.role_box ul li {
	float:left;
	width:300px; height:75px;	
}

.role_box ul li.role_margin {
	margin-top:40px;
}

.role_box ul li h5 {
	font-size:17px; font-weight:700;
	margin-bottom:20px;
}

.role_box ul li span + span {
	margin-left:20px;
}



.list_wrap {
	width:100%; height:500px;
}

.list_wrap ul {
	-webkit-display:flex;
	display:flex;
	width:100%; height:100%;
	min-width:800px;
}

.list_wrap ul li {
	position:relative;
	-webkit-flex:1; 
	-ms-flex:1;
	-moz-flex:1;
	flex:1; 
	height:100%;
	background:url(../img/profile_dh.jpg) no-repeat center center; 
	-webkit-background-size:cover; 
	-moz-background-size:cover; 
	-o-background-size:cover; 
	background-size:cover;
}

.list_wrap ul li#je { 
	background-image:url(../img/profile_je.jpg); 
}

.list_wrap ul li#sj { 
	background-image:url(../img/profile_sj.jpg); 
}

.list_wrap ul li + li { 
	margin-left:2%; 
}

.list_wrap ul li div { 
	position:absolute;
	top:4%; left:4%;
}

.list_wrap ul li h3 { 
	font-size:22px; font-weight:700;
	line-height:1.5;
}





/*bg_text*/

.bg_text #bgt_team { 
	position:absolute;
	width:100%;
	top:690px; left:15%;
}

.bg_text span.font_en { 
	font-size:275px; font-weight:900; 
	line-height:0.8; color:#b4bfd0;
	white-space:nowrap;
	opacity:0;
}