* { margin:0; padding:0; }
ul li, ol li { list-style:none; }
img { border:none; }



/*fixed*/ 
body, html { width:100%; height:100%; background-color:#eff3f4; }

h1#logo { position:fixed; top:5%; left:3%; z-index:10000; }
h1#logo a { display:block; width:75px; }
ul#down { position:fixed; top:5%; right:3%; z-index:10000; }
ul#down li { float:left; margin-right:25px; }
ul#down li:last-child { font-weight:800; cursor:pointer; margin-right:0;}
ul#down li i.fas { font-size:20px; color:#707883; }
ul#down li.down_l { display:none; }
ul#down li a:hover { text-decoration:line-through; }

#bottom_wrap { position:fixed; bottom:5%; left:3%; z-index:10000; }
#bottom_wrap span a { font-weight:800; }
#bottom_wrap span a:hover { text-decoration:line-through; }

nav { position:fixed; width:15px; height:175px; top:50%; right:3%; margin-top:-95px; z-index:10000; }
ul#menu li a { display:block; width:15px; height:15px; border-radius:10px; background-color:#8da5ab; margin-bottom:25px; }
ul#menu li a:hover { background-color:#707883; }
ul#menu li a.view { background-color:#707883; }
ul#menu li:last-child a { margin-bottom:0; }




/*layout*/
.layout { position:absolute; width:100%; height:100%; } 

#main_wrap { top:0; }
#story_wrap { top:100%; }
#video_wrap { top:200%; }
#point_wrap { top:300%; height:3350px; }
#tell_wrap { top:300%; margin-top:3350px; }
#popup { display:none; top:100%; background-color:rgba(0,0,0,0.25); z-index:1000; }



/*main*/
#main_box { position:absolute; width:775px; top:50%; left:50%; margin-top:-80px; margin-left:-387px; }
#main_box h3 { font-size:23px; font-weight:800; letter-spacing:19px; margin-top:25px; text-align:center; }



/*story*/
#story_one { position:relative; width:90%; height:90%; top:5%; left:5%; }
#img_box { position:absolute; width:700px; height:840px; top:50%; right:10%; margin-top:-400px; }
#text_box { position:absolute; top:50%; left:15%; margin-top:-200px;}
#text_box > p { font-size:20px; font-weight:700; letter-spacing:2px; }
#text_box h4 { font-size:35px; font-weight:800; letter-spacing:2px; color:#5f5d6b; }
#text_box ul { margin-top:100px; }
#text_box ul li:last-child { margin-top:50px; }
#text_box ul li > span { display:block; width:20px; height:20px; }
#text_box ul li p { font-size:17px; font-weight:700; letter-spacing:0; color:#6a6e7a; margin-top:15px; }
#text_box ul li p span { display:inline-block; border:1px solid #8da5ab; cursor:pointer; padding:0 5px; }
#text_box ul li p span:hover { background-color:#8da5ab; color:#fff; font-weight:400; transition:0.2s all ease-out; -webkit-transition:0.2s all ease-out; -moz-transition:0.2s all ease-out; -o-transition:0.2s all ease-out; }
#text_box > a { display:none; width:150px; height:30px; background-color:#eff3f4; border-radius:30px; border:1px solid #707883; color:#707883; text-align:center; line-height:30px; margin-top:15px; }
#text_box > a:hover { background-color:#707883;  color:#fff; }



/*video*/
video { position:absolute; width:1280px; height:720px; top:50%; left:50%; margin-top:-350px; margin-left:-640px; z-index:1000; }



/*point*/
#point_box { width:100%; }
.point { position:relative; width:1280px; height:500px; left:50%; margin-left:-640px; }

.p_text { position:absolute; top:0; left:0; z-index:100; }
.p_text h4 { font-size:85px; font-weight:800; float:left; color:#534a5a; }
.p_text h5 { font-size:30px; font-weight:800; float:left; margin-top:22px; margin-left:25px; color:#5f5d6b; }
.p_text h6 { font-size:20px; font-weight:700; padding-top:25px; padding-bottom:15px; clear:both; color:#5f5d6b; }
.p_text p { font-size:15px; font-weight:400; line-height:1.5; }

.p_text_r { text-align:right; top:0; right:20%; }
.p_text_r h4 { float:right; margin-left:25px; }
.p_text_r h5 { float:right; margin-left:0; }



#p01 { margin-top:100px; }
#p01_img { position:absolute; width:1100px; top:-35px; right:-100px; }
#p01_text { margin-top:250px; }

#p02 { height:575px; margin-top:150px; z-index:1000; }
#p02_img_01 { width:275px; }
.p02_align { float:left; }
ul#p02_imgs li { width:220px; margin-left:40px; }
ul#p02_imgs li:first-child { margin-bottom:25px; }
#p02_text { right:0; margin-top:-30px; }
#p02_text h6, #p02_text p { margin-right:125px; }

#p03 { height:400px; }
#p03_img { position:absolute; width:725px; right:-75px; bottom:0; }
#p03_text { margin-top:130px; }

#p04 { margin-top:150px; }
#p04_img { width:900px; margin-left:-200px; }
#p04_text { right:0; margin-top:-30px; }
/*#p04_text h6, #p04_text p { margin-right:125px; }*/

#p05 { height:600px; margin-top:200px; }
ul#p05_imgs { position:absolute; bottom:0; }
ul#p05_imgs li { width:250px; float:left; margin-right:25px; }
#p05_img_04 { position:absolute; width:300px; right:0; bottom:0; }
#p05_text { margin-top:-30px; }





/*tell*/
#tell_title { position:absolute; width:500px; top:10%; left:50%; margin-left:-200px; }
#tell_title h2 { width:500px; }
#tell_title h3 { font-size:19px; font-weight:800; letter-spacing:10px; margin-top:25px; text-align:center; }

ul#tell_text { display:flex; position:absolute; width:70%; height:60%; left:15%; bottom:10%; justify-content:space-between; text-align:center; max-width:1280px; overflow:hidden; }
ul#tell_text > li { position:relative; width:32%; height:100%; float:left; background-color:#fff; }
ul#tell_text span { display:block; position:absolute; width:90%; height:40%; top:3%; left:5%; background-color:#534a5a; overflow:hidden;  }
ul#tell_text span img { display:none; }

li#tell01 span { background:url("../img/tell_02.jpg") center center no-repeat; }
li#tell02 span { background:url("../img/tell_01.jpg") center center no-repeat; }
li#tell03 span { background:url("../img/tell_03.jpg") center center no-repeat; }

ul#tell_text li ul { display:block; position:absolute; width:85%; top:50%; left:7%; }
ul#tell_text li ul h4 { font-size:15px; font-weight:800; color:#534a5a; margin-bottom:15px; line-height:1.5; margin:0 auto; }
ul#tell_text li ul li:nth-child(2) { margin:10% 0; }
li#one h4 { width:175px; }
li#two h4 { width:270px; }
li#three h4 { width:250px; }
ul#tell_text p { font-size:13px; font-weight:400; line-height:1.3; text-align:justify; margin-top:15px; }
li#tell03 p { margin-top:40px; }





/*scroll*/
#scroll_01 { position:absolute; width:100%; height:100%; top:300%; }
#scroll_02 { position:absolute; width:100%; height:100%; top:200%; margin-top:3350px; }



/*popup*/
#popup_box { position:absolute; width:500px; height:350px; top:50%; left:50%; margin-top:-175px; margin-left:-250px; border-radius:25px; background-color:rgba(255,255,255,0.95); cursor:pointer; }
#popup_box span { display:block; width:100%; font-size:20px; font-weight:800; letter-spacing:5px; margin-bottom:50px; text-align:center; }
#popup_box p { font-size:13px; line-height:1.5; }

#pop_01 { position:absolute; width:80%; height:50%; top:20%; left:10%; }
#pop_02 { position:absolute; width:80%; height:50%; top:25%; left:10%; }




/*Meniaquery*/

@media screen and (min-width:1300px) and (max-width:1700px) {

	#main_box { position:absolute; width:700px; top:50%; left:50%; margin-top:-80px; margin-left:-350px; }
	#main_box h3 { font-size:23px; font-weight:800; letter-spacing:15px; margin-top:25px; text-align:center; }

	#img_box { position:absolute; width:600px; height:720px; right:5%; top:50%; margin-top:-360px; }
	#text_box { position:absolute; top:50%; left:15%; margin-top:-200px;}

	video { position:absolute; width:1150px; height:647px; top:50%; left:50%; margin-top:-323px; margin-left:-575px; }

	.point { position:relative; width:1150px; height:500px; left:50%; margin-left:-575px; }

	#p01_img { position:absolute; width:1000px; top:0; right:-100px; }

	#p02 { height:475px; }
	#p02_img_01 { width:230px; }
	ul#p02_imgs li { width:190px; margin-left:25px; }
	ul#p02_imgs li:first-child { margin-bottom:10px; }

	#p03_img { position:absolute; width:650px; right:-50px; bottom:0; }

	#p04_img { width:800px; margin-left:-175px; }

	#p05 { height:550px; }
	ul#p05_imgs li { width:235px; float:left; margin-right:25px; }
	#p05_img_04 { position:absolute; width:275px; right:0; bottom:0; }

	ul#tell_text li h4 { font-size:13px; }
	ul#tell_text p { font-size:12px; }

}



@media screen and (max-width:1299px) {  

	#main_box { position:absolute; width:600px; top:50%; left:50%; margin-top:-75px; margin-left:-300px; }
	#main_box h3 { font-size:20px; font-weight:800; letter-spacing:13px; margin-top:20px; text-align:center; }

	#img_box { position:absolute; width:400px; height:480px; right:10%; top:50%; margin-top:-225px; }
	#text_box { position:absolute; top:50%; left:15%; margin-top:-200px;}
	
	video { position:absolute; width:1000px; height:563px; top:50%; left:50%; margin-top:-281px; margin-left:-500px; }

	.point { position:relative; width:1000px; height:500px; left:50%; margin-left:-500px; }

	#p01_img { position:absolute; width:900px; top:50px; right:-100px; }

	#p02 { height:475px; }
	#p02_img_01 { width:230px; }
	ul#p02_imgs li { width:190px; margin-left:25px; }
	ul#p02_imgs li:first-child { margin-bottom:10px; }

	#p03_img { position:absolute; width:650px; right:-50px; bottom:0; }

	#p04_img { width:800px; margin-left:-175px; }

	#p05 { height:550px; }
	ul#p05_imgs li { width:225px; float:left; margin-right:10px; }
	#p05_img_04 { position:absolute; width:275px; right:0; bottom:0; }

	ul#tell_text li h4 { font-size:13px; }
	li#two h4 { width:225px; }
	ul#tell_text p { font-size:11px; }

}
