@charset "utf-8";
/* CSS Document */





/*reset*/
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,input,button { margin:0; padding:0; }
body,p,th,td,form,fieldset,input,button { font:12px "돋움",Dotum,Arial,sans-serif; color:#898989; }
img,fieldset { border:none; vertical-align:middle; }
ul,ol,li { list-style:none; }
a { text-decoration:none; }

legend { display:none; }
address { font-style:normal; }





/*layout*/
.width_box { width:1000px; margin:0 auto; position:relative; clear:both; }
#sub_box { margin-top:50px; }
#header_wrap { border-top:5px solid #898989; position:relative; width:100%; height:135px; background-color:#14143c; }

#nav { float:left; clear:both; width:728px; padding-top:50px; margin-left:272px; }
#news { padding-top:60px; }
#store { padding-top:75px; }

#footer_wrap { clear:both; padding:100px 0 30px; }





/*header*/
h1#logo { position:absolute; left:0; top:52px; }

#top { float:right; width:317px; margin-top:15px; overflow:hidden; }
#top ul#top_menu { float:left; }
#top ul#top_menu li { display:inline; padding:0 8px; background:url(../img/top_line.png) no-repeat left center; margin-left:-1px; }
#top ul#top_menu li a { line-height:20px; color:#fff;  padding-left:3px; }
#top ul#top_menu li#t_menu03 a { color:#7ead51; }
#top ul#top_menu li a:hover { color:#999; }
#top ul#top_menu li#t_menu03 a:hover { color:#7ead51; }

#top form#top_search label { display:block; width:0; height:0; text-indent:-9999px; overflow:hidden; }
#top form#top_search input#top_input { float:left; width:112px; height:20px; border:none; margin:0 5px 0 3px; text-indent:5px; }
#top form#top_search input#top_input:focus { outline:none; }
#top form#top_search button#top_button { float:left; width:20px; height:20px; border:none; border-radius:2px; text-indent:-9999px; 
	overflow:hidden; cursor:pointer; background:url(../img/search_icon.png) no-repeat center center #fff; }
#top form#top_search button#top_button:focus { outline:none; }





/*nav*/
#nav ul#gnb { width:620px; float:left; }
#nav ul#gnb > li { float:left; position:relative; width:155px; height:18px; padding-bottom:30px; }
#nav h2.gnb_menu a { display:block; width:155px; height:18px; background:url(../img/gnb.png) no-repeat center -10px; text-indent:-9999px; overflow:hidden; }
#nav li#menu02 a { background-position:0 -40px; }
#nav li#menu03 a { background-position:0 -70px; }
#nav li#menu04 a { background-position:0 -100px; }
#nav li#menu01 a:hover { background-position:0 -130px; }
#nav li#menu02 a:hover { background-position:0 -160px; }
#nav li#menu03 a:hover { background-position:0 -190px; }
#nav li#menu04 a:hover { background-position:0 -220px; }

#nav #yacht { float:left; position:relative; width:108px; height:16px; }
#nav #yacht a { display:block; margin-left:38px; width:70px; height:16px; background:url(../img/yacht01.png) no-repeat right top; text-indent:-9999px; overflow:hidden; }

#nav ul.gnb_sub { position:absolute; width:155px; height:0; left:0; top:70px; z-index:15; border-left:1px dotted #777; overflow:hidden; }

#nav ul.gnb_sub a { display:block; text-align:center; line-height:27px; color:#aaa; }
#nav ul.gnb_sub a:hover { color:#fff; }

ul#gnb ul#nav_pointer {  position:absolute; top:105px; left:272px; width:620px; height:0; z-index:13; }
ul#gnb ul#nav_pointer li { float:left; width:155px; height:280px; }

#header_wrap #nav_bg { position:absolute; width:100%; height:0; /*background-color:rgba(30,35,40,0.95);*/ background-color:#1e2328; top:135px; z-index:11; }





/*footer*/
#footer { height:135px; }
#footer h1#f_logo { float:left; padding-top:29px;}
#footer #info { float:left; padding:55px 0 0 50px; }
#footer #info address { font-size:11px; color:#666; line-height:15px; }
#footer #info address span { color:#333; }
#footer #info p { font-size:11px; color:#333; padding-top:15px; }

#footer #sns_wrap { float:right; width:155px; padding-top:55px; overflow:hidden; }
#footer #sns_wrap ul#sns li { float:left; background:url(../img/sns_line.png) no-repeat left center; margin-left:-1px; }
#footer #sns_wrap ul#sns li#sns_f { width:32px; }
#footer #sns_wrap ul#sns li#sns_t { width:50px; }
#footer #sns_wrap ul#sns li#sns_y a { margin:0 19px; }
#footer #sns_wrap ul#sns li#sns_t a { margin-left:19px; }




