@charset "utf-8";
/* CSS Document */





/*login*/
#login_wrap { padding:130px 0 70px; }

#login_wrap #log_title_wrap { width:1000px; }
#login_wrap #log_title_wrap h3#log_title { width:78px; height:26px; float:left; }

#log_title_wrap ul#log_guide { padding-top:15px; width:125px; height:12px; float:right; overflow:hidden; }
#log_title_wrap ul#log_guide li { float:left; padding:0 13px; margin-left:-5px; background:url(../img/arrow.png) no-repeat left center;  }
#log_title_wrap ul#log_guide li#l_guide02 { padding-right:0; }
#log_title_wrap ul#log_guide li a { float:left; color:#898989; line-height:12px; }
#log_title_wrap ul#log_guide li a:hover { text-decoration:underline; }
#log_title_wrap ul#log_guide li#l_guide02 a { color:#7ead51; }
#log_title_wrap ul#log_guide li#l_guide01 a { background:url(../img/home.png) no-repeat left 0; padding-left:20px;}



#login_wrap #log_box { width:1000px; height:315px; background-color:#eee; margin:50px 0 30px;}
#login_wrap #log_box #log_big { width:770px; height:206px; padding:59px 0 0 115px;}

#log_big span#log_img { width:250px; height:101px; padding-top:48px; float:left;}
#log_big #log_small { width:407px; height:206px; float:left; padding-left:113px; }
#log_big #log_small p#log_hi { width:407px; height:21px; }
#log_big #log_small p#log_in { font-size:13px; font-family:"맑은 고딕","돋움"; color:#898989; font-weight:bold;  padding:15px 0 25px;}
#log_big #log_small .log_input { font-size:14px; color:#707070; font-weight:bold; clear:both; font-family:"맑은 고딕","돋움"; }
#log_big #log_small .log_input label { display:block; width:77px; height:25px; line-height:25px; float:left;  }
#log_big #log_small .log_input input { width:230px; height:25px; float:left; text-indent:7px; border:1px solid #ddd; }
#log_big #log_small .log_input input:focus { outline:0; }
#log_big #log_small input#user_id { margin-bottom:5px; }
#log_big #log_small button#button { width:88px; height:58px; background-color:#14143c; color:#fff; font-weight:bold; border:none; border-radius:5px; 
	float:left; margin:-31px 0 0 10px; cursor:pointer; }
#log_big #log_small button#button:focus { outline:none; }
#log_big #log_small #log_save { width:100px; height:13px; clear:both; padding:25px 0 15px;}
#log_big #log_small #log_save label { display:block; width:100px; height:13px; line-height:13px; }
#log_big #log_small #log_save input#id_save { width:12px; height:12px; float:left; margin-right:5px;  }
#log_big #log_small span { color:#9e0b0f; }



#log_sub_wrap ul#log_sub li#log_join { float:left; width:404px; position:relative; }
#log_sub_wrap ul#log_sub li#log_join p:first-child { font-size:14px; font-family:"맑은 고딕","돋움"; color:#898989; font-weight:bold; line-height:30px; }
#log_sub_wrap ul#log_sub li#log_join span a {  display:block; width:100px; height:20px; line-height:20px; text-align:center; background-color:#fff; color:#707070; 
	position:absolute; right:0; bottom:0; border-radius:2px; border:1px solid #ddd; }
#log_sub_wrap ul#log_sub li#log_search { float:right; width:554px; position:relative; }
#log_sub_wrap ul#log_sub li#log_search p:first-child { font-size:14px; font-family:"맑은 고딕","돋움"; color:#898989; font-weight:bold; line-height:30px; }
#log_sub_wrap ul#log_sub li#log_search span a { display:block; width:150px; height:20px; line-height:20px; text-align:center; background-color:#fff; color:#707070; 
	position:absolute; right:0; bottom:0; border-radius:2px; border:1px solid #ddd; }




