@charset "utf-8";
/* CSS Document */





/*slider*/
#slider_wrap { width:100%; position:relative; }
#slider_wrap #s_btn { display:block; position:absolute; width:50px; height:50px; z-index:15; left:50%; top:100px; cursor:pointer;  }
#slider_wrap #slider img { width:100%; }
#slider_wrap #slider #slider01 { position:absolute; width:100%; z-index:5; }
#slider_wrap #slider #slider02 { position:absolute; width:100%; z-index:1; }
#slider_wrap #slider ul#s_icon { position:absolute; left:50%; bottom:20px; z-index:10; }
#slider_wrap #slider ul#s_icon li { width:11px; height:11px; float:left; cursor:pointer; }
#slider_wrap #slider ul#s_icon #s_icon01 { margin-right:15px; }





/*main_bar*/
#main_bar { width:100%; height:100px; background-color:#eee; margin-top:-5px; }
#main_bar #bar_wrap #bar { float:left; background:url(../img/bar_line.png) no-repeat left center; }
#main_bar #bar_wrap #bar .bar_line  { background:url(../img/bar_line.png) no-repeat right center; }

#bar span.bar_more { position:absolute; top:26px; }

#bar #bar_clock { float:left; width:360px; height:50px; padding:26px 95px; position:relative; margin-right:3px; }
#bar #bar_clock #clock { float:right; }
#bar #bar_clock span.bar_more { left:273px; }

#bar #bar_mail { float:left; width:255px; height:50px; padding:26px 95px; position:relative; }
#bar #bar_mail #mail { float:right; }
#bar #bar_mail span.bar_more { left:282px; }
#bar #bar_mail span.bar_icon img { padding-top:8px; }

#bar p { padding-top:7px; }





/*news*/
#news { height:331px; }
#news #title { height:16px; padding-bottom:15px; position:relative; }
#news #title h3 { width:120px; height:16px; }
#news #title span#n_prev, span#n_next { position:absolute; right:0; top:2px; padding-left:15px; display:bolck; width:8px; height:16px; 
	background:url(../img/button.png); cursor:pointer; }
#news #title span#n_prev { background-position:-41px -57px; right:30px; }
#news #title span#n_next { background-position:-64px -57px; }
#news #title span#n_prev:hover { background-position:5px -57px; }
#news #title span#n_next:hover { background-position:-18px -57px; }
#news #n_slider { width:999px; height:301px; overflow:hidden; position:relative; margin-bottom:50px; }
#news #n_slider ul#main_news { position:absolute; /*width:2331px;*/ height:301px; left:-666px; top:0; }
#news #n_slider ul#main_news li { float:left; width:333px; height:300px; }





/*store*/
#store { height:250px; }
#store h3 { width:76px; height:16px; padding-bottom:15px; }
#store ul#main_store { float:left; height:250px; width:1000px; }
#store ul#main_store li { float:left; width:248px; height:125px; background-color:#eee; border:1px solid #ccc; position:relative; }
#store ul#main_store li:hover { background-color:#fff; }
#store ul#main_store li.border01 { border-right:0; border-bottom:0; }
#store ul#main_store li.border02 { border-bottom:0; }
#store ul#main_store li.border03 { border-right:0; }

#store ul#main_store li h4 { margin:30px 0 0 20px; }
#store ul#main_store li#store01 h4 { margin:50px 0 0 45px; }
#store ul#main_store li p { margin:10px 0 0 20px; }
#store ul#main_store li span.main_more a { display:block; position:absolute; right:20px; top:20px; width:20px; height:20px; 
	background:url(../img/button.png) -10px -10px; text-indent:-9999px; overflow:hidden; }
#store ul#main_store li span.main_more a:hover { background-position:-40px -10px; }




