


#top_menu { position:fixed; left:0; top:0;  width:100%; height:30px; background:rgba(51,51,51,0.85); }
#top_menu ul { width:100%; height:30px; }
#top_menu ul li { position:absolute; width:150px; height:30px; }
#top_menu ul li#prev { left:0; top:0; margin-left:30px; }
#top_menu ul li#list { left:50%; top:50%; margin-top:-15px; margin-left:-75px; }
#top_menu ul li#next { right:0; top:0; margin-right:30px; }

#top_menu ul li a { display:block; line-height:30px; color:#ddd; }
#top_menu ul li#prev a { text-align:left; }
#top_menu ul li#list a { text-align:center; }
#top_menu ul li#next a { text-align:right; }

#top_menu ul li a:hover { color:#fff; }





#port_section { width:1000px; margin:0 auto; }
#port_section #text_wrap { width:1000px; height:150px; margin:125px auto 150px; } 

#text_wrap #title_bar { width:75px; height:5px; } 
#text_wrap h1#title { height:50px; line-height:50px; font-size:25px; font-weight:normal; margin:15px 0; color:#333; } 



#text_wrap #title_box  { float:left; width:600px; margin-right:100px; } 
#text_wrap span.un_line { display:block; height:1px; background:url(../../img/sub_line02.png) repeat-x; margin-top:24px; }
#title_box p#info, #list_box p#list { height:70px; overflow:hidden; line-height:1.5; color:#555; } 

#title_box p#info { text-align:justify; }
#title_box p#info span { font-weight:bold; }
#title_box span#title_line { width:600px; }  

#text_wrap #list_box { float:left; width:300px; }
#list_box p#list span { font-weight:bold; }
#list_box span#list_line { width:300px; } 



#port_section #img_wrap { width:1000px; }
#port_section #img_wrap span#goto { display:block; width:75px; height:75px; margin:0 auto 100px; } 





#footer_wrap { position:relative; bottom:0; width:1000px; height:375px; margin-top:100px; }
#footer_wrap span#top_line { position:absolute; left:50%; top:0; width:1px; height:100px; background:url(../../img/top_line.png) repeat-y; }

#footer_wrap p#f_top { position:absolute; left:50%; top:150px; width:50px; height:50px; margin-left:-25px; margin-bottom:-25px; }

#footer_wrap p#f_copy { position:absolute; left:50%; bottom:30px; width:700px; margin-left:-350px; text-align:center; font-size:11px; color:#aaa; }
