/*media query*/

@media screen and (min-width:1601px) {  
	/*width check*/
	/*.text span { color:#fff; }*/

	
}



@media screen and (min-width:1441px) and (max-width:1600px) {  
	/*width check*/
	/*.text span { color:red; }*/

	/*Common*/
	.contents { 
		width:1200px;
	}

	.text p { 
		font-size:16px; 
	}

	/*Sub 01 Patagonia*/
	#sub_01 #content_03 .text,
	#sub_01 #content_03 #text_02 { 
		left:650px; 
	}

	/*Sub 02 Worn Wear*/
	#sub_02 #content_02 #text_01,
	#sub_02 #content_02 #text_02 { 
		left:500px; 
	}

	/*Sub 03 EFibers*/

	#sub_03 #content_05 #text_01,
	#sub_03 #content_05 #text_02 { 
		left:500px; 
	}

}



@media screen and (min-width:651px) and (max-width:1440px) {  
	/*width check*/
	/*.text span { color:orange; }*/

	/*Common*/
	.contents { 
		width:900px;
	}

	.contents + .contents {
		margin-top:100px;
	}

	.contents h1 { 
		font-size:200px;
	}
	.contents h2 { 
		font-size:32px;
	}

	.text p { 
		font-size:15px; 
	}



	/*Sub 01 Patagonia*/

	#sub_01 #content_01 { 
		height:500px; 
	}
	#sub_01 #content_01 .img { 
		bottom:0; left:0; 
		width:300px; height:450px; 
	}	
	#sub_01 #content_01 .text { 
		bottom:0; left:350px; 
	}

	#sub_01 #content_02 { 
		height:520px; 
	}
	#sub_01 #content_02 .img { 
		width:350px; height:400px;
		background-position:center right;
	}
	#sub_01 #content_02 h1 { 
		top:0; left:-18%; 
	}
	#sub_01 #content_02 .text { 
		bottom:50px; left:0%; 
	}

	#sub_01 #content_03 { 
		height:550px; 
	}
	#sub_01 #content_03 .img { 
		width:350px; height:400px; 
	}
	#sub_01 #content_03 .text,
	#sub_01 #content_03 #text_02 { 
		left:400px; 
	}

	#sub_01 #content_04 { 
		height:520px; 
	}
	#sub_01 #content_04 .img { 
		width:350px; height:400px; 
		background-position:-250px center;
	}

	#sub_01 #content_05 { 
		height:370px; 
	}



	/*Sub 02 Worn Wear*/

	#sub_02 #content_01 { 
		height:870px; 
	}
	#sub_02 #content_01 .img { 
		top:320px; right:0; 
		width:450px; height:300px; 
	}

	#sub_02 #content_02 { 
		height:550px; 
	}
	#sub_02 #content_02 .img { 
		top:auto; bottom:0;
		width:250px; height:450px; 
	}
	#sub_02 #content_02 #text_01,
	#sub_02 #content_02 #text_02 { 
		left:300px; 
	}

	#sub_02 #content_03 { 
		height:650px; 
	}
	#sub_02 #content_03 .img { 
		width:350px; height:400px; 
	}
	#sub_02 #content_03 .text { 
		bottom:0;
	}

	#sub_02 #content_04 { 
		height:850px; 
	}
	#sub_02 #content_04 .img { 
		top:170px; left:0;
	}
	#sub_02 #content_04 h2 { 
		top:700px; left:8px;
	}
	#sub_02 #content_04 .text { 
		top:700px;
	}



	/*Sub 03 EFibers*/

	#sub_03 #content_01 { 
		top:0; 
		height:500px; 
	} 
	#sub_03 #content_01 .img { 
		width:250px; height:350px;
	}
	#sub_03 #content_01 .text { 
		bottom:0;
	}

	#sub_03 #content_02 {
		height:550px; 
	} 
	#sub_03 #content_02 .img { 
		bottom:auto; top:120px;
		width:450px; height:300px;
		background-position:-70px center;
	}
	#sub_03 #content_02 .text { 
		bottom:0;
	}

	#sub_03 #content_03 { 
		height:450px; 
	} 
	#sub_03 #content_03 .img { 
		width:350px; height:450px;
	}

	#sub_03 #content_04 { 
		height:450px; 
	} 
	#sub_03 #content_04 .img { 
		bottom:auto; top:0;
		width:400px; height:300px;
	}

	#sub_03 #content_05 { 
		height:750px; 
	} 
	#sub_03 #content_05 .img { 
		bottom:auto; top:0;
		width:250px; height:550px;
	}
	#sub_03 #content_05 .text { 
		left:320px;
	}
		#content_05 #text_02 { 
		top:350px; 
	}

}

@media screen and (max-width:650px) { 

	.wrap_show {
		display:none;
	}

}